body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



div.newTask {
  border: 1px solid black;
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

div.header {
  font-weight: bolder;
  font-size: larger;
}

div.regComp {
  border: 1px solid black;
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

div.editReg {
  position:absolute;
  background-color: rgba(48, 85, 128, 0.774);
  top: 50%;
  left: 50%;
  width:12em;
  height:12em;
  margin-top: -6em; /*set to a negative number 1/2 of your height*/
  margin-left: -6em; /*set to a negative number 1/2 of your width*/
  padding: 10px;
  border: 1px solid #ccc;
  border:  2px solid black;
  z-index:100; 
  visibility: hidden;
}

textarea.comment {
  width: max-content;
  height: 100px;
  margin-top: 2px;
}